<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<div class="photos">
  <% @album.photos.each do |photo| %>
    <div class="photo">
      <%= image_tag photo.image_url.to_s %>
        <div class="name">
          <%= photo.name %>
        </div>
        <div class="actions">
          <%= link_to 'edit', edit_photo_path(photo) %> |
          <%= link_to 'remove', photo, confirm: 'Are you sure?', method: :delete %>
        </div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
