<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<div class="photos" id="photos">
  <%= render @album.photos %>
</div>
<div class="clear"></div>

<div class='upload'>
  <%= form_for Photo.new do |f| %>
  <%= f.hidden_field :album_id, value: @album.id %>
  <%= f.label :image, "Upload photos:" %>
  <%= f.file_field :image, multiple: true, name: "photo[image]" %>
<% end %>
</div>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>

<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%;"></div></div>
  </div>
</script>
